* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #f0f2f5;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.nav-search {
  display: flex;
  align-items: center;
  position: relative;
}
.nav-search input {
  display: inline-block;
  padding: 0.7rem 0 0.7rem 2.5rem;
  border-radius: 20px;
  border: none;
  background-color: #f0f2f5;
  margin: 0 0.4rem;
}
.nav-search .search-icon {
  position: absolute;
  left: 22%;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation div {
  margin: 0 2rem;
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 0;
}
.ikonka {
  position: relative;
}
.navigation div p,
.nav-icon p {
  position: absolute;
  color: white;
  padding: 1px 5px;
  border-radius: 50%;
  font-size: 14px;
  background-color: crimson;
  top: -4px;
  right: -10px;
}
.video-icon::after {
  content: "6555555555";

  z-index: 1;
}
.profil {
  display: flex;
  align-items: center;
}
.profil-name {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.profil-name img {
  margin: 5px;
}
.nav-icon {
  align-items: center;

  display: flex;
}
.profil-name img {
  width: 35px;
  border-radius: 50%;
}
.nav-icon .ikonka {
  width: 40px;
  height: 40px;
  background-color: #f0f2f5;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 5px;
  border-radius: 50%;
  align-items: center;
}
nav img {
  cursor: pointer;
}
header {
  background-color: white;
}
.home {
  text-align: center;

  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
.myphoto {
  width: 200px;
  border-radius: 50%;
  border: 3px solid white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 140px;
}
h1 {
  font-size: 32px;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
}
.main-nav a {
  padding: 1rem;
  text-decoration: none;
  color: #606770;
}
.main-nav a:hover {
  color: #1877f3;
}
.main-nav a:focus {
  border-bottom: 2px solid #1877f3;
  color: #1877f3;
}
.main-navbar {
  display: flex;
  flex-direction: row;
}
.main-buttons {
  display: flex;
  align-items: center;
}
.main-buttons .main-icon {
  padding: 5px 15px;
  border-radius: 5px;
  margin-left: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #e4e6eb;
}
.main-icon span {
  font-size: 12px;
  margin-left: 2px;
}
@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
